<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Disease Prediction</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <br><br><br>
                <form action="/predict" method="post" id="form">
                    <input class="form-control" type="file" id="file" accept=".jpg,.png,.jpeg" />
                    <br>
                    <input class="btn btn-success" type="submit" value="Predict" />
                </form>
                <br>
                <h1 class="display-6" id="res"></h1>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script>
        let form = document.getElementById("form");
        let input = document.getElementById("file");
        let responseDiv = document.getElementById("res");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            var data = new FormData();
            data.append("file", input.files[0]);

            fetch("/predict", {
                method: "POST",
                body: data,
            })
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                responseDiv.innerHTML = `Class: ${data.class}, Confidence: ${data.confidence}`;
            });
        });
    </script>
</body>
</html>